<div class="heading">KG2NL DEMO</div>

<form [formGroup]="exampleForm" class="form">
  <div class="form-group">
    <input class="form-control input" formControlName="input" placeholder="Enter ontology url" >
    <button class="btn" (click)="formSubmit();" >Generate</button>
  </div>

  <div class="form-group">
    <input [value]="output_data" class="form-control output" placeholder="Natural language will appear here" disabled="true">
  </div>

	
</form>
<p class="footer">
	version: {{ ver }}
</p>